.heading {
    margin-left: 6%;
    color: white;
    background-color: black;
    text-align: -webkit-center;
    width: 32%;
    margin-top: 4%;
    padding: 1%;
}

.body {
    background-color: black;
    width: 90%;
}

.form {
    margin-left: 16%;
}

.savedData {
    color: white;
    margin-left: 55%;
    margin-top: -12%;
}

.input {
    width: 27%;
    font-size: 125%;
    margin-left: -5%;
}

.data {
    font-size: 150%;
}

.remove-data {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold
}

.submit {
    margin-left: 6%;
    margin-top: 1%;
}